<div class="card bg-dark text-muted">
  <div class="card-header">
    Nekome
  </div>
  <div class="card-body">

    <p class="card-text">
      All videos on the site are provided for information only.
    </p>
    <p class="card-text">
      Technical support and assistance to users: <span class="mail"><a href="#">basssara@gmail.com</a></span>
    </p>
  </div>
  <div class="card-footer text-muted">
    Weeb Life
  </div>
</div>
</html>