<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Volume</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Can You Just Die, My Darling?</td>
      <td>1</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/store/manga/477/Can_You_Just_Die_My_Darling">View</td>
    </tr>
    <th scope="row">2</th>
      <td>A HIGH STAKES SEDUCTION</td>
      <td>1</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/store/manga/698/A_HIGH_STAKES_SEDUCTION">View</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Descending Stories</td>
      <td>10</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/store/manga/76/Descending_Stories">View</td>
    </tr>
    <th scope="row">4</th>
      <td>CLOVER</td>
      <td>2</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/store/manga/947/CLOVER">View</td>
    </tr>
    <th scope="row">5</th>
      <td>KYOKO SHIMAZU AUTHOR'S EDITION</td>
      <td>5</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/store/manga/822/KYOKO_SHIMAZU_AUTHORS_EDITION">View</td>
    </tr>

</tbody>
</table>