<div class="col-sm mt-3 text-center mb-3">
        <nav class="nav">
      <a class="text-danger nav-link active" aria-current="page" href="/home">Home</a>
      <a class="text-danger nav-link" href="/animes">Anime</a>
      <a class="text-danger nav-link" href="/mangas">Manga</a>
      <a class="text-danger nav-link" href="/news">News</a>
      <a class="text-danger nav-link" href="/chat">Chat</a>
      <a class="text-danger nav-link" href="/dashboard">Profile</a>
      <a class="text-danger nav-link" href="/logout">Logout</a>    
  
        </nav>
      
    <hr class="featurette-divider">
      </div>