<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Season</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Boku no Hero Academia</td>
      <td>5</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/anime/41587/Boku_no_Hero_Academia_5th_Season">View</td>
    </tr>
    <th scope="row">2</th>
      <td>Ijiranaide, Nagatoro-san</td>
      <td>1</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/anime/42361/Ijiranaide_Nagatoro-san">View</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fumetsu no Anata e</td>
      <td>1</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/anime/41025/Fumetsu_no_Anata_e">View</td>
    </tr>
    <th scope="row">4</th>
      <td>Isekai Maou to Shoukan Shoujo no Dorei Majutsu Ω</td>
      <td>2</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/anime/41623/Isekai_Maou_to_Shoukan_Shoujo_no_Dorei_Majutsu_%CE%A9">View</td>
    </tr>
    <th scope="row">5</th>
      <td>Tensura Nikki: Tensei shitara Slime Datta Ken</td>
      <td>1</td>
      <td><a class="btn btn-outline-danger" href="https://myanimelist.net/anime/41488/Tensura_Nikki__Tensei_shitara_Slime_Datta_Ken">View</td>
    </tr>

</tbody>
</table>