<div class="container" style="height: 500px;">
<form method="POST" action="/login">
  <div class="mt-2">
    <label for="exampleInputPassword1" class="form-label">Username</label>
  <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required>
 
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-outline-danger">Submit</button>
</form>
<div class="mb-3 text-center">
    <a href="/sign-up">Registration</a>
  </div>
{{#if msg}}
<div class="alert alert-danger" role="alert">
  {{msg}}
</div>
{{/if}}
</div>