{{> menu}}
<div class="row g-0">
    <h1>News Table</h1>
    <a href="/addnews"class="col-4 btn btn-outline-danger">Add News</a>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
        {{#each newsall}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><a class="fw-bold text-decoration-none text-dark" href="/animes/{{this.id}}">{{this.Title}}</a></td>
      <td><a href="#"class="btn btn-outline-danger">Update</a></td>
      <td><a href="/newsdel/{{this.id}}"class="btn btn-outline-danger">Delete</a></td>
    </tr>
{{/each}}
    
  </tbody>
</table>
</div>